<%- include("partials/base"); %>

<link rel="stylesheet" href="/stylesheets/data_view.css" />

<div class="body-container">

  <div class="main-container">
      <h2> Issue Summary: </h2>
      <h3> <%= issue.issue_summary %> </h3>
      <br>
      <p> Related Project ID: <%= issue.related_project %> </p>
      <p> Currently assigned to: <%= issue.assigned_to %> </p>
      <p> Status: <%= issue.issue_status %> --- <%= issue.priority %> </p>
      <p> Target Date: <%= issue.target_date %> </p>
      <p> Created By: <%= issue.created_by %> </p>
      <p> Created On: <%= issue.created_on.toISOString().slice(0, 10).replace('T', ' ') %> </p>
      <p> Modified By: <%= issue.modified_by %> </p>
      <p> Modified On: <%= issue.modified_on.toISOString().slice(0, 10).replace('T', ' ') %> </p>
      <br>
      <p> Description: <%= issue.issue_description %> </p>
      <br>
      <p> Progress : <%= issue.progress %> </p>

  </div>

  <%- include("partials/sidebar"); %>

</div>
