<%- include("partials/base"); %>

<link rel="stylesheet" href="/stylesheets/data_view.css" />

<div class="body-container">

  <div class="main-container">
    <% if (project != null) { %>
    <h2><%= project.project_name %></h2>
    <% }else { %>
    <h2>Recent Issues</h2>
    <% } %>
    <br>
    <ul class="issue-list">
      <% for (let i = 0; i < issues.length; i++){ %>
        <li class="issue-list-item">
          <p>
          Issue ID: <%= issues[i].issue_id %>
          <a class="issue-list-link" href="/home/issues/issue_detail/<%=issues[i].issue_id%>">
          <%= issues[i].issue_summary %>
          </a>
          Status: <%= issues[i].issue_status %>
          </p>
          <p class="issue-list-date">Created On: <%= issues[i].created_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
          <p class="issue-list-date">Modified On: <%= issues[i].modified_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
        </li>
        <br>
      <% } %>
    </ul>
  </div>

  <div class="sidebar-container">
    <h3>Recent Projects</h3>
    <br>
    <ul class="project-list">
      <% for (let i = 0; i < projects.length; i++){ %>
        <li class="project-list-item">
          <p>
          <a class="project-list-link" href="/home/projects/project_detail/<%=projects[i].project_id%>">
          <%= projects[i].project_name %> :
          </a></p>
          <p>Created By: <%= projects[i].created_by %></p>
          <p>Target End Date: <%= projects[i].target_end_date.toISOString().slice(0, 10).replace('T', ' ') %></p>
        </li>
        <br>
      <% } %>
    </ul>
  </div>

</div>
