<%- include('partials/base'); %>

<link rel="stylesheet" href="/stylesheets/main.css"/>

<div class="body-container">
  <div class="main-container">

    <div class="home-info">
      <h3>Username: <%= user.username %></h3>
      <% if (user.assigned_issue) { %>
      <p class="home-issue-info">Issue ID: <%= user.assigned_issue %></p>
      <% } else { %>
      <p class="home-issue-info">No Issue Assigned Right Now!</p>
      <% } %>

      <br>
      <p class="home-user-info">Your Email: <%= user.email %></p>
      <p class="home-user-info">Your Role: <%= user.person_role %></p>
      <p class="home-user-info">User Created: <%= user.created_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
      <p class="home-user-info">Last Modified on: <%= user.modified_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
    </div>

    <br>

    <div class="home-actions">
      <a class="create-link" href="/home/projects/create_project">
        <button class="create-btn">Create Project</button>
      </a>

      <a class="create-link" href="/home/issues/create_issue">
        <button class="create-btn">Create Issue</button>
      </a>
  
      <a class="create-link" href="/home/issues/search_issue">
        <button class="create-btn">Update Current Issue</button>
      </a>

      <% if (user.person_role == "Admin") { %>

      <a class="create-link" href="/home/issues/assign_issue">
        <button class="create-btn">Assign Issue</button>
      </a>

      <a class="create-link" href="/home/issues/close_issue">
        <button class="create-btn">Close Issue</button>
      </a>

      <a class="create-link" href="/home/projects/finish_project">
        <button class="create-btn">Finish Project</button>
      </a>

      <% } %>
    </div>
  </div>

  <%- include("partials/sidebar"); %>

</div>
