<%- include("partials/base"); %>

<link rel="stylesheet" href="/stylesheets/data_view.css" />

<div class="body-container">

  <div class="main-container">
    <h2>Projects</h2>
    <br>
    <ul class="project-list">
      <% for (let i = 0; i < projects.length; i++){ %>
        <li class="project-list-item">
          <p>
          <a class="project-list-link" href="/home/projects/project_detail/<%=projects[i].project_id%>">
          <%= projects[i].project_name %> :
          </a>
          Created by: <%= projects[i].created_by %>
          </p>
          <p class="project-list-dates">Created On: <%= projects[i].created_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
          <p class="project-list-dates">Modified On: <%= projects[i].modified_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
        </li>
        <br>
      <% } %>
    </ul>
  </div>

  <%- include("partials/sidebar"); %>

</div>
