<%- include("partials/base"); %>

<link rel="stylesheet" href="/stylesheets/data_view.css" />

<div class="body-container">

  <div class="main-container">
      <h2> <%= project.project_name %> </h2>
      <br>
      <p> <%= project.start_date %> </p>
      <p> <%= project.target_end_date %> </p>
      <p> <%= project.created_by %> </p>
      <p> <%= project.created_on %> </p>
      <br>
      <h3> Issues for this project: </h3>
      <br>
      <ul class="issue-list">
        <% for (let i = 0; i < issues.length; i++){ %>
          <li class="issue-list-item">
            <p>
            Issue ID: <%= issues[i].issue_id %>
            <a class="issue-list-link" href="/home/issues/issue_detail/<%=issues[i].issue_id%>">
            <%= issues[i].issue_summary %>
            </a>
            Status: <%= issues[i].issue_status %>
            </p>
            <p> <%= proj_issues[i].assigned_to %> </p>
            <p> <%= proj_issues[i].target_date %> </p>
            <p class="issue-list-date">Created On: <%= issues[i].created_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
            <p class="issue-list-date">Modified On: <%= issues[i].modified_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
          </li>
          <br>
        <% } %>
      </ul>

  </div>


<%- include("partials/sidebar"); %>
