<%- include("partials/base"); %>

<link rel="stylesheet" href="/stylesheets/data_view.css" />

<div class="body-container">

  <div class="main-container">
      <h2> <%= project.project_name %> </h2>
      <br>
      <div class="project-info">
        <div class="project-dates">
          <p> Start Date: <%= project.start_date.toISOString().slice(0, 10).replace('T', ' ') %> </p>
          <p> Target End Date: <%= project.target_end_date.toISOString().slice(0, 10).replace('T', ' ') %> </p>
          <p> Created by: <%= project.created_by %> </p>
          <p> Created On: <%= project.created_on.toISOString().slice(0, 10).replace('T', ' ') %> </p>
        </div>
        <div class="project-buttons">
          <a href="/home/projects/project_detail/<%= project.project_id %>/open_issues">
            <button class="issue-buttons">Open Issues</button>
          </a>
          <a href="/home/projects/project_detail/<%= project.project_id %>/overdue_issues">
            <button class="issue-buttons">Overdue Issues</button>
          </a>
          <a href="/home/projects/project_detail/<%= project.project_id %>/all_issues">
            <button class="issue-buttons">All Issues</button>
          </a>
          <a href="/home/projects/project_detail/<%= project.project_id %>/closed_issues">
            <button class="issue-buttons">Closed Issues</button>
          </a>
        </div>
      </div>

      <br>
      <h3> Issues for this project: </h3>
      <br>
      <ul class="issue-list">
        <% for (let i = 0; i < proj_issues.length; i++){ %>
          <li class="issue-list-item">
            <p>
            Issue ID: <%= proj_issues[i].issue_id %>
            <a class="issue-list-link" href="/home/issues/issue_detail/<%=proj_issues[i].issue_id%>">
            <%= proj_issues[i].issue_summary %>
            </a>
            <% if (proj_issues[i].issue_status === "Open") { %>
              <p class="issue-status-open">Status: <%= proj_issues[i].issue_status %>
            <% } else { %>
              <p class="issue-status-closed">Status: <%= proj_issues[i].issue_status %>
            <% } %>
            </p>
            <p> Assigned to: <%= proj_issues[i].assigned_to %> </p>
            <p> <%= proj_issues[i].target_date %> </p>
            <p class="issue-list-date">Created On: <%= proj_issues[i].created_on.toISOString().slice(0, 10).replace('T', ' ') %></p>
            <p class="issue-list-date">Modified On: <%= proj_issues[i].modified_on %></p>
          </li>
          <br>
        <% } %>
      </ul>

  </div>


<%- include("partials/sidebar"); %>
