<%- include("partials/base"); %>

<link rel="stylesheet" href="/stylesheets/data_view.css" />

<div class="body-container">

  <div class="main-container">
      <h2> <%= user.username %> </h2>
      <br>
      <p> <%= user.person_name %> </p>
      <p> <%= user.email %> </p>
      <p> <%= user.person_role %> </p>
      <p> <%= user.created_on %> </p>
      <br>
      <p> <%= user.assigned_issue %> </p>

  </div>

  <%- include("partials/sidebar"); %>

</div>
